<div class="sidebar-sticky pt-3">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/home/">
                <span data-feather="home"></span>
                首页 <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/home/album.html">
                <span data-feather="home"></span>
                个人相册管理 <span class="sr-only">(current)</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="/home/picture.html">
                <span data-feather="home"></span>
                个人相册图片管理 <span class="sr-only">(current)</span>
            </a>
        </li>
    </ul>
</div>
