
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">


  <title>xx 用户后台管理</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/carousel/">

  <!-- Bootstrap core CSS -->
  <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/carousel.css" rel="stylesheet">

  <script src="https://cdn.bootcdn.net/ajax/libs/popper.js/2.11.5/umd/popper.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <script src="https://cdn.bootcdn.net/ajax/libs/holder/2.9.4/holder.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.js"></script>

  <script src="https://cdn.bootcdn.net/ajax/libs/vue/2.7.0-beta.2/vue.js"></script>
  <script src="https://cdn.bootcdn.net/ajax/libs/axios/0.18.0/axios.js"></script>


  <script src="https://cdn.bootcdn.net/ajax/libs/AlertifyJS/1.13.1/alertify.js"></script>

  <link href="https://cdn.bootcdn.net/ajax/libs/AlertifyJS/1.13.1/css/alertify.css" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/AlertifyJS/1.13.1/css/themes/default.css" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/AlertifyJS/1.13.1/css/themes/semantic.css" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/AlertifyJS/1.13.1/css/themes/bootstrap.css" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/AlertifyJS/1.13.1/css/alertify.rtl.css" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/AlertifyJS/1.13.1/css/themes/default.css" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/AlertifyJS/1.13.1/css/themes/semantic.rtl.min.css" rel="stylesheet">
  <link href="https://cdn.bootcdn.net/ajax/libs/AlertifyJS/1.13.1/css/themes/bootstrap.rtl.css" rel="stylesheet">

</head>
<body>

<div th:include="component/header"></div>

<main role="main">


    <br><br>

    <div class="container-fluid">
      <div class="row" id="main">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse" th:include="component/home_nav"></nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">


        </main>
      </div>
    </div>



</main>



</body>
</html>
